<!-- <div class="d-flex flex-wrap">
    <div>CYM<br>AK 09</div>
    <div>JIAJUN<br>White Kape</div>
    <div>PM<br>Sete</div>
    <div>YZ<br>Rapt 08</div>
    <div>HENSLEY<br>Blue Rapt</div>
    <div>GRAINNY<br>Rapt 07</div>
    <div>GAB<br>AK 10</div>
    <div>JESSICA<br>Tiger</div>
    <div>Sujie<br>Cinco</div>
    <div>Gwen<br>V2</div>
    <div>Slim<br>Quattro ML</div>
    <div>Ben Neo<br>Quattro</div>
    <div>Alan<br>Luke's Boat</div>
    <div>Marcus</div>
    <div>Weekiat<br>V3</div>
    <div>Kaijie<br>Rapt 06</div>
    <div>Nizal<br>Auggy's boat</div>
</div> -->

<!-- <div class="d-flex flex-wrap">
    <div *ngFor="let a of attendances" matTooltip="{{ a.boat.shortname + ' (CA' + a.boat.ca + ')' | uppercase }}">
        {{a.paddler.shortname | uppercase }}
        <br>
        <span class="badge badge-primary">
            {{a.boat.shortname}}
        </span>
    </div>
</div> -->

<div class="mat-subheading-1">Attendance:</div>
<div class="d-flex flex-wrap">
    <div *ngFor="let a of attendances">
        <h5>
            <span class="badge badge-pill badge-primary" matTooltip="{{ a.boat.shortname + ' (CA' + a.boat.ca + ')' | uppercase }}">
                {{a.paddler.shortname | uppercase }} <span class="color-primary-blue">{{a.boat.shortname}}</span>
            </span>
        </h5>
    </div>
    <div *ngFor="let a of attendances">
        <h5>
            <span class="badge badge-pill badge-primary" matTooltip="{{ a.boat.shortname + ' (CA' + a.boat.ca + ')' | uppercase }}">
                    {{a.paddler.shortname | uppercase }} <span class="color-primary-blue">{{a.boat.shortname}}</span>
            </span>
        </h5>
    </div>
    <div *ngFor="let a of attendances">
        <h5>
            <span class="badge badge-pill badge-primary" matTooltip="{{ a.boat.shortname + ' (CA' + a.boat.ca + ')' | uppercase }}">
                    {{a.paddler.shortname | uppercase }} <span class="color-primary-blue">{{a.boat.shortname}}</span>
            </span>
        </h5>
    </div>
    <div *ngFor="let a of attendances">
        <h5>
            <span class="badge badge-pill badge-primary" matTooltip="{{ a.boat.shortname + ' (CA' + a.boat.ca + ')' | uppercase }}">
                        {{a.paddler.shortname | uppercase }} <span class="color-primary-blue">{{a.boat.shortname}}</span>
            </span>
        </h5>
    </div>
    <div *ngFor="let a of attendances">
        <h5>
            <span class="badge badge-pill badge-primary" matTooltip="{{ a.boat.shortname + ' (CA' + a.boat.ca + ')' | uppercase }}">
                        {{a.paddler.shortname | uppercase }} <span class="color-primary-blue">{{a.boat.shortname}}</span>
            </span>
        </h5>
    </div>
</div>