<div class="container mt-3">
    <div class="mat-subheading-2">Admins</div>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item *ngFor="let member of members" style="border-bottom: thin solid #eee;">
            <img matListAvatar src="{{member.photo}}">
            <h3 matLine><a routerLink="." class="color-secondary-blue">{{ member.firstName + ' ' + member.lastName }}</a></h3>
            <p matLine class="color-secondary-grey">{{ '@' + member.displayName }}</p>
        </mat-list-item>
    </mat-list>

    <div class="mat-subheading-2 mt-5">Members</div>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item *ngFor="let member of members" style="border-bottom: thin solid #eee;">
            <img matListAvatar src="{{member.photo}}">
            <h3 matLine><a routerLink="." class="color-secondary-blue">{{ member.firstName + ' ' + member.lastName }}</a></h3>
            <p matLine class="color-secondary-grey">{{ '@' + member.displayName }}</p>
        </mat-list-item>
    </mat-list>
</div>