// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kt-angular-primary: mat-palette($mat-indigo);
$kt-angular-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$kt-angular-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$kt-angular-theme: mat-light-theme($kt-angular-primary, $kt-angular-accent, $kt-angular-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kt-angular-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.color-primary-white {
    color: #fff;
}

.color-primary-red {
    color: #D71440;
}

.color-primary-blue {
    color: #181C62;
}

.color-secondary-blue {
    color: #0054A6;
}

.color-primary-grey {
    color: #f3f5f8;
}

.color-secondary-grey {
    color: #5f6368;
}

.bg-color-primary-white {
    color: #0054A6 !important;
    background-color: #fff !important;
}

.bg-color-primary-red {
    color: #fff !important;
    background-color: #D71440 !important;
}

.bg-color-primary-blue {
    color: #fff !important;
    background-color: #0054A6 !important;
}

.bg-color-primary-grey {
    color: #0054A6 !important;
    background-color: #f3f5f8 !important;
}