<div class="container mt-3">
    <div class="mat-subheading-2">Boats</div>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item *ngFor="let boat of boats" style="border-bottom: thin solid #eee;">
            <!-- <img matListAvatar src="{{boatphoto}}"> -->
            <h3 matLine><a routerLink="." class="color-secondary-blue">{{ boat.displayName | uppercase }}</a></h3>
            <p matLine class="color-secondary-grey">{{ 'CA ' + boat.ca }}</p>
        </mat-list-item>
    </mat-list>
</div>