<div class="container-fluid py-3 color-secondary-grey" style="position: fixed; background-color: #fff; z-index: 2; border-bottom: thin solid #eee;">
    <button mat-stroked-button matTooltip="Monday, July 15">Today</button> &nbsp;
    <a mat-icon-button routerLink="/" matTooltip="Previous week">
        <mat-icon>chevron_left</mat-icon>
    </a>
    <a mat-icon-button routerLink="/" matTooltip="Next week">
        <mat-icon>chevron_right</mat-icon>
    </a>
    &nbsp;
    <span class="text-secondary">July 2019</span>
</div>

<div class="container-fluid" style="margin-top: 70px;">
    <div class="row">
        <div class="col pt-2">
            <div class="mat-headline color-primary-blue">
                Monday, 14 July 2019, 7:15 am - 9.30 am
                <div class="mat-caption">MacRitchie Reservoir</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 py-2">
            <app-programme-detail></app-programme-detail>
        </div>
        <div class="col py-2">
            <app-attendance-detail></app-attendance-detail>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="container-fluid">
    <div class="row">
        <div class="col pt-2">
            <div class="mat-headline color-primary-blue">
                Tuesday, 15 July 2019, 7:15 AM
                <div class="mat-caption">MacRitchie Reservoir</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 py-2">
            <app-programme-detail></app-programme-detail>
        </div>
        <div class="col py-2">
            <app-attendance-detail></app-attendance-detail>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="container-fluid">
    <div class="row">
        <div class="col pt-2">
            <div class="mat-headline color-primary-blue">
                Wednesday, 16 July 2019, 7:15 AM
                <div class="mat-caption">MacRitchie Reservoir</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 py-2">
            <app-programme-detail></app-programme-detail>
        </div>
        <div class="col py-2">
            <app-attendance-detail></app-attendance-detail>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="container-fluid">
    <div class="row">
        <div class="col pt-2">
            <div class="mat-headline color-primary-blue">
                Thursday, 17 July 2019, 7:15 AM
                <div class="mat-caption">MacRitchie Reservoir</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 py-2">
            <app-programme-detail></app-programme-detail>
        </div>
        <div class="col py-2">
            <app-attendance-detail></app-attendance-detail>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="container-fluid">
    <div class="row">
        <div class="col pt-2">
            <div class="mat-headline color-primary-blue">
                Friday, 18 July 2019, 7:15 AM
                <div class="mat-caption">MacRitchie Reservoir</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 py-2">
            <app-programme-detail></app-programme-detail>
        </div>
        <div class="col py-2">
            <app-attendance-detail></app-attendance-detail>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="container-fluid">
    <div class="row">
        <div class="col pt-2">
            <div class="mat-headline color-primary-blue">
                Saturday, 19 July 2019, 7:15 AM
                <div class="mat-caption">MacRitchie Reservoir</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 py-2">
            <app-programme-detail></app-programme-detail>
        </div>
        <div class="col py-2">
            <app-attendance-detail></app-attendance-detail>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="container-fluid">
    <div class="row">
        <div class="col pt-2">
            <div class="mat-headline color-primary-blue">
                Sunday, 20 July 2019, 7:15 AM
                <div class="mat-caption">MacRitchie Reservoir</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 py-2">
            <app-programme-detail></app-programme-detail>
        </div>
        <div class="col py-2">
            <app-attendance-detail></app-attendance-detail>
        </div>
    </div>
</div>

<mat-divider></mat-divider>