<!-- Pagination -->
<!-- <div class="container-fluid py-3 color-secondary-grey">
    <a mat-stroked-button routerLink="/trainings/week" matTooltip="{{ getDate() | date: 'EEEE, MMM d' }}">Today</a> &nbsp;
    <button mat-icon-button (click)="goToPreviousWeek()" matTooltip="Previous week">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button (click)="goToNextWeek()" matTooltip="Next week">
        <mat-icon>chevron_right</mat-icon>
    </button> &nbsp;
    <span class="text-secondary">July 2019</span>
</div> -->

<!-- Trainings -->
<div class="container-fluid">
    <div class="row border-bottom-grey" *ngFor="let training of trainings">
        <!-- Date -->
        <div class="col-lg-1 pt-2 bg-color-primary-grey">
            <div class="mat-caption">{{ training.startTime | date: 'EEE' }}</div>
            <div *ngIf="dateIsToday(training.startTime)" class="mat-headline color-primary-red">{{ training.startTime | date: 'd' }}</div>
            <div *ngIf="!dateIsToday(training.startTime)" class="mat-headline text-secondary">{{ training.startTime | date: 'd' }}</div>
        </div>

        <!-- Programme -->
        <div class="col-lg-2 col-sm-6 py-2">
            <div class="mat-subheading-1">Programme:</div>
            <div class="mat-body-1" style="white-space: pre-wrap;">{{ training.programme || '-' }}</div>
        </div>
        <div class="col-lg-2 col-sm-6 py-2">
            <div class="mat-subheading-1">Venue & Time:</div>
            <div class="mat-body-1"><a routerLink="." class="link">{{ training.venue }}</a></div>
            <div *ngIf="training.programme" class="mat-body-1">{{ training.startTime | date: 'shortTime' }} - {{ training.endTime | date: 'shortTime' }}</div>
            <div *ngIf="!training.programme" class="mat-body-1">-</div>
        </div>

        <!-- Attendance -->
        <div class="col py-2">
            <div class="mat-subheading-1">Attendees:</div>
            <div class="d-flex flex-wrap">
                <span *ngIf="training.attendees.length === 0">-</span>
                <div *ngFor="let att of training.attendees" matTooltip="{{ 'CA' + att.boat.ca }}">
                    <h5>
                        <span class="badge badge-pill badge-primary">
                            {{ att.user.displayName | uppercase }} 
                            <span class="color-primary-blue">{{ att.boat.displayName | lowercase }}</span>
                        </span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>