<div class="container mt-4">
    <!-- Profile -->
    <img src="{{ athlete.photo }}" alt="Avatar" class="avatar mb-3">
    <div class="mat-title">
        {{ athlete.firstName + ' ' + athlete.lastName }}
        <br>
        <small class="text-secondary">{{'@' + athlete.displayName}}</small>
    </div>

    <br>

    <!-- Boostrap tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile">Athlete's Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="trainings-tab" data-toggle="tab" href="#trainings">Trainings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="goals-tab" data-toggle="tab" href="#goals">Goals</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="overview" role="tabpanel">...</div>
        <div class="tab-pane fade" id="profile" role="tabpanel">...</div>
        <div class="tab-pane fade" id="trainings" role="tabpanel">...</div>
        <div class="tab-pane fade" id="goals" role="tabpanel">...</div>
    </div>

    <!-- Tabs -->
    <!-- <mat-tab-group>
        <mat-tab label="Overview"></mat-tab>
        <mat-tab label="Athlete's Profile"></mat-tab>
        <mat-tab label="Trainings"></mat-tab>
        <mat-tab label="Goals"></mat-tab>
    </mat-tab-group> -->
</div>