<div class="container mt-3">
    <div class="mat-subheading-2">Leaderboard</div>
    <mat-divider></mat-divider>

    <!-- Boat filter -->
    <ul class="nav mt-3" *ngIf="boats">
        <li class="nav-item">
            <span class="badge badge-secondary">Boat</span>
        </li>
        <li class="nav-item">
            <a *ngFor="let boat of boats" [class.active]="isFirstBoat(boat)" class="nav-link d-inline" id="{{boat.value}}-tab" data-toggle="tab" (click)="filterByBoat(boat.value)" href="#" role="tab">
                {{boat.key|uppercase}}
            </a>
        </li>
    </ul>

    <!-- Gender filter -->
    <ul class="nav mt-3" *ngIf="genders">
        <li class="nav-item">
            <span class="badge badge-secondary">Gender</span>
        </li>
        <li class="nav-item">
            <a *ngFor="let gender of genders" [class.active]="isFirstGender(gender)" class="nav-link d-inline" id="{{gender.value}}-tab" data-toggle="tab" (click)="filterByGender(gender.value)" href="#" role="tab">
                {{gender.value|uppercase}}
            </a>
        </li>
    </ul>

    <!-- Distance filter -->
    <ul class="nav mt-3" *ngIf="distances">
        <li class="nav-item">
            <span class="badge badge-secondary">Distance</span>
        </li>
        <li class="nav-item">
            <a *ngFor="let distance of distances" [class.active]="isFirstDistance(distance)" class="nav-link d-inline" id="{{distance.value}}-tab" data-toggle="tab" (click)="filterByDistance(distance.value)" href="#" role="tab">
                {{distance.key}}
            </a>
        </li>
    </ul>

    <!-- Mat data table -->
    <table mat-table [dataSource]="dataSource" matSort matSortActive="result" matSortDirection="asc" class="mat-elevation-z0">
        <!-- Affiliate Column -->
        <ng-container matColumnDef="affiliate">
            <th mat-header-cell *matHeaderCellDef> Affiliate </th>
            <td mat-cell *matCellDef="let record">
                <img src="{{record.athlete[0].affiliate.photo}}" class="avatar-sm" matTooltip="{{record.athlete[0].affiliate.displayName}}">
            </td>
        </ng-container>

        <!-- Athlete Column -->
        <ng-container matColumnDef="athlete">
            <th mat-header-cell *matHeaderCellDef> Athlete </th>
            <td mat-cell *matCellDef="let record">
                <a *ngFor="let athlete of record.athlete" routerLink="/athletes/{{athlete.displayName}}" class="text-dark mr-2">{{athlete.firstName + ' ' + athlete.lastName}}</a>
            </td>
        </ng-container>

        <!-- Boat Column -->
        <ng-container matColumnDef="boat">
            <th mat-header-cell *matHeaderCellDef> Boat </th>
            <td mat-cell *matCellDef="let record"> {{record.boat.displayName}} </td>
        </ng-container>

        <!-- DateTime Column -->
        <ng-container matColumnDef="datetime">
            <th mat-header-cell *matHeaderCellDef> DateTime </th>
            <td mat-cell *matCellDef="let record"> {{record.dateTime | date:'mediumDate'}} </td>
        </ng-container>

        <!-- Result Column -->
        <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Result </th>
            <td mat-cell *matCellDef="let record"> {{record.result}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Empty data -->
    <div *ngIf="dataSource.data.length === 0" class="mat-subheading-2 mt-2">No records</div>

</div>